
$primary-color: #252323;
$secondary-color: #FEFCFB;
$tertiary-color: #343434;

$bg-primary: #FEFCFB;
$bg-secondary: #252323;
$bg-tertiary: #f1f1f1;

$color-1: #f79d84;
$color-2: #34af9f;
$color-3: #034078;
$color-4: #1282A2;
$color-5: #FEFCFB;

$border-radius: 0rem;

// Set screen widths
$sw: 1240px;